
body{
    background-color: black;
}

#top{
    background-color: rgb(255, 89, 0);
    color: white;
    padding-top: 10px;
}
#sectop{
    margin: 10px;
    /* padding: 5px; */
}
.sectop1{
    margin-left: 130px;
    /* padding: 5px; */
}
#sectop2{
    margin-top: 10px;
}
a{
    color: black;
    text-decoration: none;
}
#fimg{
    padding: 0px;
    width: 100%;
    height: 700px;
}
#simg{
    margin: 50px;
    /* width: 100%; */
    height:400px ;
}
#aaa{
    border: 0px;
    width: 100px;
    background-color: blue;
    color: white;
    padding: 3px;
    font-size:small;

}
#aa{
    margin: 50px;
}
#ab{
    color: white;
    margin-top: 130px;
    
}
input{
    border: 1px solid black;
    border-radius: 60px;
    background-color: white;
}
#ac{
    text-align: center;
    background-color:white;
    color: black;
    margin: 10px;
    width:100px;
    height: 150px;
    margin-top: 30px;
    border-radius: 15px;
    padding: 20px;

}
#ad{
    width: 100%;
    height: 250px;
    margin: 20px;
}
#aq{
    background-color: rgb(218, 76, 5);
    color: white;
    border: 1px solid  rgb(239, 82, 4);
    border-radius: 60px;
    width: 190px;
    height: 35px;
}
.form{
    background-color: white;
    color: black;
    padding:40px;
    margin: 30px;
    margin-right: 160px;
    height: 350px;
    border-radius: 25px;
}
td{
    color: rgb(85, 89, 92);
}

/* for mobile phones */
@media only screen and (min-width:600px) {
    body{
        background-color: blue;
    }    
}

/* button{
    background-color: rgb(218, 76, 5);
    color: white;
    border: 1px solid  rgb(239, 82, 4);
    border-radius: 60px;
    width: 190px;
    height: 40px;
} */
#bagrndimg{
    height: 600px;
    background-image: url('./images/95795581-dark-modern-airport-waiting-hall-with-multiple-overhead-illumination-lamps-with-reflections.jpg');
    background-size: 100%;
}
#imagesection{
    margin: 20px 10px;
}

img{
    /* color: aliceblue; */
    height: 30px;
    margin-left: 20px;
}

#bottom{
    padding-top: 10px;
    background-color: black;
    color: white;
}
#ba{
    color: rgb(84, 74, 74);
}
#aw{
    /* text-align: center; */
    color: black;
    padding: 5px;
    margin-top: 20px;
    margin-left: 30px;
    display: inline-flex;

}
li{
    margin-left: 20px;
}

a{
    decoration: none;
}
#bo{
   text-align: center; 
    padding: 10px;
    color: rgb(92, 80, 80);
    /* background-color: blueviolet */
    background-color: black;
}
#bottomname{
    text-align: center;
}