.full{
    background-color: rgb(60, 59, 57);
    height: 950px;
    width: 100%;
    top:100%;
    
    
    

}
/* h3{
    text-align: center;
} */

img{
    float: left;
    padding: 5px;
}
.heading{
    /* margin: 5px; */
    border: 2px solid black;

    background-color: red;
    background-origin: padding-box;
    height: 90px;
    width: 1845px;
    /* align-self: flex-end; */
    text-align: left;
    padding: 15px;
    


}
 a{
    /* font-size: large; */
  
    padding:25px 5px 10px 5px;
    color: blue;
}
.links{
    border: 2px solid black;
    background-color: white;
    text-align: left;
    padding: 5px;
    width: 1865px;
    top: 110px;
    height: 30px;
    margin-top: 6px;
    
    
}
p{

    font-size: 25px;
    margin-left: 7px;
}
.biodata{
    background-color: rgb(165, 160, 160);
    border: 2px solid black;
    top: 190px; ;
    width: 1100px;
    height: 700px;
    position:absolute;


}
.image{
    background-origin: padding-box;

}
.a2{
    margin-left: 13px;
    margin-top: 13px;
}
.a1{
    margin-left: 13px;
    margin-top: 13px;
}
.disc{
    /* background-color: rgb(225, 30, 30); */
    background-color: rgb(165, 160, 160);
    border: 2px solid black;
    top: 190px; 
    margin-left: 1110px;
    width: 760px;
    height: 290px;
    position:absolute;


}
h3{
    /* background-color: blue; */
    border: 2px solid black;
    background-color: white;
    text-align: center;
    padding: 5px;
    width: 1865px;
    top:900px;
    position:absolute;
    height: 30px;
    margin-top: 10px;
}
